@use 'custom';

.btn-skip{
    background-color: white;
    border-radius: 20%;
    float:right;
    margin-right: 5vw;
    margin-top: 8vh;
}
.btn-fish{
    background-color: rgb(229,236,245);
    border-radius: 40%;
}
.img-fisherman{
    width: 100%;
    border-radius: 50%;
    margin-top: 5vh;
    border:3px dashed  rgb(70,126,223);
   
}
.dot-1,.dot-2{
    color:rgb(210,211,211);
    width: 10%;
}
.w-35{
    width:35%;
}
.img-gauss{
    margin-right: -7vw;
    margin-top: -4vh;
}



